.sahipaneer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sahipaneer-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    background: rgb(253, 253, 253);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sahipaneer-video iframe{
    width: 97%;
    height: 95%;
}
.sahipaneer-discription{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    /* background-color: aqua; */
}
.sahipaneer-name{
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.sahipaneer-abc{
    display: flex;
    flex-wrap: wrap;
    /* background-color: beige; */
    width: 10%;
    justify-content: space-around;
}

.ingredients{
    width: 90%;
    margin-top: 4vh;
}

.recipe-page{
    width: 90%;
    margin-top: 5vh;
}